@model List<Persona>
@{
    ViewData["Title"] = "Personas";
}
<h2>@ViewData["Title"]</h2>
<p>Lista de personas cargadas en memoria: </p>

<table class = "table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
        </tr>
    </thead>
@foreach(var persona in Model)
    {
        <tr>
            <td>@persona.Id</td>
            <td>@persona.Name</td>
        </tr>
    }
</table>
